<h1>Edit Survey</h1>

<div style="max-width: 600px;">
  <%= render "form", survey: @survey %>
</div>

<%= link_to "Back to Surveys", admin_surveys_path, style: "margin-top: 16px; display: inline-block;" %>
