<h2>New Category for "<%= @survey.title %>"</h2>

<div style="max-width: 600px;">
  <%= render "form", survey: @survey, category: @category %>
</div>

<%= link_to "Back to Survey", admin_survey_path(@survey), style: "margin-top: 16px; display: inline-block;" %>
